<!DOCTYPE html> 
<html>
    <head>
        <title>index</title>
    </head>
    <body>
        <form method="post" action="/home">
            <input name="name" type="text" required="1" placeholder="name of purchaser">
            <input name="mobile" type="number" required="1" placeholder="enter mobile number">
            <input name="product" type="text" required="1" placeholder="what purchasing">
            <input name="quantity" type="number" required="1" placeholder="product quantity">
            <input type="submit">
        </form>
    </body>
</html>